.html{
    scroll-behavior: smooth;
}
body {
    background-color: #f5f7f5ec; 
    scroll-behavior: smooth;
    
}
.container {
    line-height: 1.5;
    background-color: #f5f7f5ec;
    max-width: 1024px;
    margin: auto;
    vertical-align: baseline;
    box-sizing: border-box;
}
 
.nav{
    width:100%;
    background: #f7bb83ec;
    position: fixed;
    top: 0;
    overflow: hidden;
}
.hamburger-list{
    display: flex;
}
.hamburger-list a{
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #111;
}

.nav label {
    display: none;
}
#hamburger{
    display: none;
}

.list-menu{
    display: block;
    background-color: #f7bb83ec; 
    padding: 10px;
    border:1px solid #f8973cec;
    
}
.list-menu:hover{
    background: #f8973cec;
    text-decoration: underline;
}

.main{
    display:flex;
    margin-top: 30px;
}
.right-column {
    width: 70%;
}
.aside {
    background-color: #18242ca2;
    width: 30%;
}
.aside-photo{
    padding: 20px;
    text-align: center;   
    
}
.aside-photo img {  
    border-radius: 50%; 
    max-width: 100%;
}
h1 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #f7bb83ec;
    padding: 0px 10px;
    margin: 0px;
}
h2 {
    font-size: 24px;
    text-align: center;
    color: #f7bb83ec;
    padding: 0px 10px;
    margin:0px 0px 40px 0px;
    
}
.article{
        color: #fff;
    padding: 0px 10px;
    margin: 0px;
    font-weight: 800;
    padding: 0 0 0 30px;
    }
.article h4{
    font-size: 20px;
    
}
.divider-orange{
    display: block;
    height: 2px;
    background-color: #f7bb83ec;
    }
.section{
    color: #111;
    padding: 0px 10px;
    margin: 0px;
    font-weight: 800;
    padding: 0 0 0 30px;
}
.section h3{
    width: 33%;
    font-size: 20px;
    padding: 5px 20px;
    background-color: #f7bb83ec
    
}
.projects img{
    max-width: 50%;
    border: 2px solid #f7bb83ec;
    
    
}
.projects a :hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.projects h5{
    font-size: 16px;
    
}
.projects p{
    font-size: 12px;
}
.divider-black{
    display: block;
    height: 2px;
    background-color: #18242ca2;
}
.footer {
    display:flex;
    color:#fff;
    background-color: #f8973cec;
    justify-content: space-around;
    align-items: center;
    padding:0px 0px;

}
.footer img{
    width: 100px;
}
.githublink, .course-link{
    color:#fff;

}

@media (max-width:1200px){
    .container{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
   .container{
       max-width: 750px;
   }
}
@media (max-width: 767px) {
    .container{
        max-width: none;
    }
    .main{
        display:block;
    }
    .aside{
        width: 100%;
    }
    .right-column{
        width: 100%;
    }
    .h1{
        font-size: 24px;
    }
    .h2{
        font-size: 18px;
    }
    .h4, h3{
        font-size: 14px;
    }
    .hamburger-list a{
        box-sizing: border-box;
        display: block;
        width: 100%;
        
    }
    .nav label{
        display: inline-block;
        padding:10px;
        font-size: 1.2em;
        
    }
    .nav label:hover{
        background-color: #f8973cec;
    }
    .hamburger-list {
        display: none;
    }
    .nav input:checked ~ .hamburger-list{display: block;}
    
}